/*......................*/
/* contenido de la raíz */
/*......................*/

body {
  background-color: #E5E5E5;
  font-family: 'Montserrat', 'Arial';
}

li {
  line-height: 24px;
  background-color: transparent;
}

/*.....................*/
/* Contenido principal */
/*.....................*/

.contenedor-principal {
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
  width: 1200px;
  margin: 40px auto;
}
/*.....................*/
/* Descripción general */
/*.....................*/

.informacion-general {
  padding: 100px 88px;
}

.descripcion {
  margin-bottom: 40px;
}

.descripcion-profesional {
  font-size: 14px;
  font-weight: 700;
}

.nombre {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin: 20px 0px 24px;
}

.descripcion-detalle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  width: 400px;
  text-align: justify;
}

/* Secciones principales */

.titulo-seccion-principal {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-top: 45px;
}

.empresa {
  color: #FB6D3A;
}

/* Sección proyectos */

.lista-proyectos {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  padding-left: 17px;
}

.enlace-proyectos {
  color: #595959;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.puntos-suspensivos-proyecto {
  color: #595959;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
}

/* Sección experiencial laboral */

.cargo-laboral {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 15px 0px 12px;
}

.periodo-empresa {
  color: #A8A8A8;
}

.barra-separadora-periodo {
  color: #000;
}

.lista-experiencia {
  color: #595959;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-left: 17px;
}

/* Sección educación */

.carrera-educativa {
  margin: 11px 0px;
}

/*.....................*/
/* Información lateral */
/*.....................*/

.informacion-lateral {
  background-color: #1E2939;
  padding: 40px 0px;
}

.titulo-lateral {
  color: white;
  font-family: 'Montserrat', 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-top: 50px;
}

.contactos, .habilidades-tecnicas, .habilidades-blandas {
  margin-left: 40px;
}

/*.....................*/
/* Seción de contactos */
/*.....................*/

.tipo-contacto {
  color: white;
  font-family: 'Montserrat', 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-right: 5px;
}

.contacto-info {
  color: white;
  font-family: 'Montserrat', 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.5;
}

/*..................*/
/* Sección de lista */
/*..................*/

.lista-lateral {
  padding: 0;
  padding-left: 17px;
}

.lista-lateral > li {
  color: #FB6D3A;
}

.elemento-lista-lateral {
  color: white;
  font-family: 'Montserrat', 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}