*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*......................*/
/* contenido de la raíz */
/*......................*/

body {
  background-color: #E5E5E5;
  font-family: 'Montserrat', 'Arial', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  line-height: 24px;
  background-color: transparent;
}

span {
  vertical-align: middle;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
